
<div class="main-body">

    <div id="btnNewUser">
      <button mat-raised-button color="primary" (click)="openAddEditUserForm()">
        New User
      </button>
    </div>

    <div class="table-container">
      <table mat-table [dataSource]="dataSource" matSort>
  
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>
  
        <ng-container matColumnDef="firstName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
          <td mat-cell *matCellDef="let row"> {{row.firstName}}</td>
        </ng-container>
  
        <ng-container matColumnDef="lastName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
          <td mat-cell *matCellDef="let row"> {{row.lastName}}</td>
        </ng-container>
  
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
          <td mat-cell *matCellDef="let row"> {{row.email}}</td>
        </ng-container>
  
        <ng-container matColumnDef="birtday">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Birtday </th>
          <td mat-cell *matCellDef="let row"> {{row.birtday | date:'dd/MM/yyyy'}}</td>
        </ng-container>
  
        <ng-container matColumnDef="login">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Login </th>
          <td mat-cell *matCellDef="let row"> {{row.login}}</td>
        </ng-container>
  
        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone </th>
          <td mat-cell *matCellDef="let row"> {{row.phone}}</td>
        </ng-container> 
  
        <ng-container matColumnDef="photo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Photo </th>
          <td mat-cell *matCellDef="let row"> 
            <img src="{{row.photo !==null ? 'data:image/jpg;base64,'+ row.photo : '/assets/images/user-default.png'}}" height="75px" width="75px"/>
          </td>
        </ng-container>
  
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
          <td mat-cell *matCellDef="let row">
            <button mat-icon-button color="primary" (click)="openEditForm(row)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteUser(row.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  

      </table>
  
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
  </div>