<div mat-dialog-title>
    <h1>Car Form</h1>
</div>
<form [formGroup]="carForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="content">
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Model</mat-label>
                <input matInput type="text" formControlName="model">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Year</mat-label>
                <input matInput type="text" formControlName="year">
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>LicensePlate</mat-label>
                <input matInput type="text" formControlName="licensePlate">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Color</mat-label>
                <input matInput type="text" formControlName="color">
            </mat-form-field>
        </div>

        
        <div mat-dialog-actions class="action">
            <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
            <button mat-raised-button color="primary" type="submit">{{data ? 'Update': 'Save'}}</button>
        </div>
    </div>
</form>